<h1 class="headText">{{category}}</h1>
<div class="container products">
  <div class="container product"*ngFor="let product of filtered">
    <div class="container image">
        <img src="{{product.image}}">
    </div>
    <div class="text">
      <h3>
        <a href="{{ product.link }}">
          {{ product.name }}
        </a>
      </h3>
      <p class="rating">
        Rating: {{product.rating}}
      </p>
      <p>
        Price:{{product.price}}
      </p>
    </div>
    <div class="buttons">
      <button type="button" (click)="share(product)">
        Share
      </button>
      <app-product-alerts
        [product]="product"
        (notify)="onNotify()">
      </app-product-alerts>
      <button class="like" (click)="increaseNumberOfLikes(product.id)">Like {{product.numberOfLikes}}</button>
      <button class="details">Details</button>
    </div>
  </div>
  <div class="emptyCategoryMsg headText" *ngIf="getProductByCategory().length==0">
    <h1>No products found in this category</h1>
  </div>
</div>



