.products {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.emptyCategoryMsg {
  margin: 30px;
}

.product {
  width: 450px;
  height: 450px;
  margin: 100px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

img {
  height: 180px;
}

.image {
  justify-content: center;
  align-items: center;
  /*width: 200px;*/
  /*height: 200px;*/
  width: 50%;
}
.buttons {
  width: 100%;
}

button {
  margin: 0 10px;
}
.rating {
  font-size: 17px;
  font-weight: bold;
}
.price {
  font-size: 16px;
}


