<app-top-bar></app-top-bar>

<!--<nav class="container categories">-->
<!--  <div class="container content">-->
<!--    <ul class="list">-->
<!--      <li class="category">All Categories</li>-->
<!--      <li class="category" *ngFor="let category of categories">-->
<!--              {{category}}-->
<!--            </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->


<nav class="categories-menu">
  <ul class="menu-list">
    <div class="category" *ngFor=" let category of categories" (click)="setCategory(category)">
      <li>
        {{category}}
      </li>
    </div>
  </ul>
</nav>

<div class="container">
<!--  <router-outlet></router-outlet>-->
    <app-product-list  [category]="getCategory()">
    </app-product-list>
</div>
