.categories-menu {
  /*background-color: #fff;*/
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  margin: 40px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}


li {
  box-sizing: border-box;
  font-size: 20px;
  color: #1976d2;
  cursor: pointer;
  padding: 0 10px;
  margin: 20px 0 ;
}

.category:hover {
  background: #e5e5e5;;
}
