*{
    margin:0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background-color: #fafafa;
    }
.item_first{
    
    margin: 20px 0px 0px;
    padding: 0px 0px 32px;
}

#first_main{
    display: inline;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.photos{
    position: absolute;
    left:260px;
}

#inner_pic{
    position: absolute;
    top: 67px;
    left:133px;

} 


#login_box{
    display: grid;
    position: absolute;
    top:17px;
    right: 280px;
    width:340px;
    height: 650px;
    margin-top: 12px 0px 0px;  
    border-radius: 1.5px;
    padding: 10px 0px;
}

#logo{
    padding-top: 20px;
    padding-bottom: 0;
    margin:0px;
}

#login_form{
    display:grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1.3px solid #DBDBDB;
    height: 51%;
    /* margin-top: 10px; */
    background-color: white;
    /* padding-bottom: 30px; */
    font-size: 16px;
    /* margin-bottom: 110px; */
    padding-bottom: 10px;
    
}


input[type=text], input[type=password]{
    width: 258px;
    height: 35px;
    margin: 3px;
    padding-left: 6px;
    border: 1.3px solid #DBDBDB;
    border-radius: 2px;
}

input:focus{
    outline: none;
    /* color:black; */
}


button[type=submit]{
    width: 265px;
    height: 32px;
    margin-top:12px;
    margin-left: 3px;
    border: none;
    background-color: #b2dffc;
    color:white;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
button[type=submit]:hover{
    background-color: #0095f6;
}

form{
    /* margin-top: 10px; */
    margin-top:30px;
    /* margin-bottom:20px; */
    /* height: 30%; */
}


#logo{
    margin-top: 10px;
    margin-left: 45px;
}
#variant_or{
    margin-top: 13px;
    display: flex;
    align-items: center;
    color:#96999e;
    font-size: 17px;
    /* font-weight: bold; */
}

.line_or{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    border-bottom: 1px solid #dddfe2;
    width: 50%;
}
span{
    margin-left: 7px;
}
#linkFa{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#385185;
    margin-top: 18px;
    cursor: pointer;
}
#logFa{
    color:#385185;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.icon{
    margin-left: 7px;
    font-size: 18px;
    margin-right: 7px;
}
#forgot{
    margin-top: 13px;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color:#385185;
    cursor: pointer;
}

#newAcc{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1.3px solid #DBDBDB;
    /* height: 80%; */
    height: 8%;
    top:381px;
    position: absolute;
    background-color: white;
    font-size: 14px;
    color:#262626;
}
#signUp{
    margin-left: 3px;
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
}

 #app{
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    /* border: 1.3px solid #DBDBDB; */
    /* height: 80%; */
    height: 7%;
    top:450px;
    background-color: white;
    font-size: 14px;
    color:#262626;
}
.imgGet{
    padding: 2px;
    cursor: pointer;
} 

footer{
    position: relative;
    top:630px;
    width: 100%;
    height: 80px;
    font-size: 12px;
    color:#8e8e8e;
}

.list{
    display: flex;
    justify-content: center;

}

li{
    display: inline;
    cursor: pointer;
    padding: 4px;
}