div {
  width: 200px;
  height: 200px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  margin: 20px;
  border: 1px solid black;
}


p {
  position: absolute;
  font-size: 10px;
}

